<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: html-head"></head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/common :: header(title='admin')"></header>

    <main>
        <div class="container">
            admin
            <a role="button" class="btn btn-primary" th:href="@{/admin/api/board-sync}">board-sync</a>
        </div>
    </main>

    <footer th:replace="fragments/common :: footer"></footer>
    <script src="/js/admin/admin.js"></script>
</body>

</html>