<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: html-head"></head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/common :: header(title='boards')"></header>

    <main>
        <datalist id="datalistOptions">
            <option th:each="tag : ${tags}" th:value="${tag.name}">
        </datalist>
        
        <div class="container py-3">
            <div class="card" th:object="${board}">
                <div id="carouselIndicators" class="carousel slide p-1" data-bs-ride="true">
                    <div class="carousel-indicators" style="background-color: rgba(0, 0, 0, 0.5); border-radius: 0.25em">
                        <button type="button" data-bs-target="#carouselIndicators"
                            th:each="file,index : ${board.boardFiles}" th:data-bs-slide-to="${index.index}"
                            th:classappend="${index.index == 0} ? active"
                            style="width: 40px; height: 5px"></button>
                    </div>

                    <div class="carousel-inner">
                        <div class="carousel-item" 
                            th:each="file,index : ${board.boardFiles}"
                            th:classappend="${index.index == 0} ? active">
                            <img th:src="${file.file.path}" class="d-block" style="max-width: 100%; max-height: 75vh; margin: 0 auto;" alt="...">
                        </div>
                    </div>
    
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" style="background-color: black; border-radius: 0.25em;" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" style="background-color: black; border-radius: 0.25em;" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

                <div class="card-body">
                    <h5 class="card-title d-flex justify-content-between">
                        <span class="text-truncate">[[${board.title}]]</span>
                        <span><i class="bi bi-download"></i></span>
                    </h5>
                    <ul class="list-inline">
                        <li class="list-inline-item" th:each="tag : ${board.boardTags}">[[${tag.tag.name}]]</li>
                        <li type="button" class="list-inline-item" data-bs-toggle="modal" data-bs-target="#exampleModal" th:data-bs-whatever="${board.id}">
                            <i class="bi bi-plus-circle"></i>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="d-flex justify-content-between my-2">
                <div>
                    <a role="button" class="btn btn-secondary" th:href="@{/boards}">Back</a>
                </div>
                <div>
                    <a role="button" class="btn btn-primary me-1" th:href="@{/boards/{id}/edit (id=${board.id})}">Edit</a>
                    <a role="button" class="btn btn-danger" th:href="@{/boards/{id}/delete (id=${board.id})}">Remove</a>
                </div>
            </div>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Tag</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input type="text" class="form-control" list="datalistOptions" id="exampleModalInput" placeholder="Type to search...">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" th:onclick="clickAddTag()">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer th:replace="fragments/common :: footer"></footer>
    <script src="/js/boards/board.js"></script>
</body>

</html>