<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: html-head"></head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/common :: header(title='게시판')"></header>

    <main>
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-4">
                    <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
                    <datalist id="datalistOptions">
                        <option th:each="tag : ${tags}" th:value="${tag.name}">
                    </datalist>
                </div>
                <div class="col-auto">
                    <button type="button" class="btn btn-primary" th:onclick="addSearch()">AddSearch</button>
                    <button type="button" class="btn btn-primary" th:onclick="search()">Search</button>
                </div>
            </div>
        </div>
        
        <div id="resultDiv">
            <div>
                검색조건 : <span th:each="tag : ${searchTags}" th:onclick="deleteSearch([[${tag}]])">[[${tag}]] (x)</span>
            </div>
            <div class="container-fluid">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">
                    <div class="col" th:each="board : ${boards}">
                        <div class="card">
                            <img th:src="@{/img/test01.jpg}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">[[${board.title}]]</h5>
                                <p class="card-text">
                                    <span th:each="tag : ${board.boardTags}">[[${tag.tag.name}]] </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer th:replace="fragments/common :: footer"></footer>
    <script src="/js/boards.js"></script>
</body>

</html>